<a href="https://colab.research.google.com/github/PavanChintha/Machine-Learning/blob/main/ML1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello")

hello

In [4]:
a=int(input("Enter a number: ")) #Read input from user
#Condition
if a>10:
      print ("Number is greater than 10")
else:
      print ("Number is less than 10")

Enter a number: 5
Number is less than 10

In [5]:
a=10
if a>5:
   print ("a>5")
elif a>4:
   print ("a>4")
else:
   print ("Not matching")
range(10)
for i in range(10):
   print (i)

a>5
0
1
2
3
4
5
6
7
8
9

In [6]:
def my_fun(x,y):
   print (x+y)
my_fun(10,20)
my_fun("10","20")

30
1020

In [8]:
print (2+3)
a=20
print (a)
print (type(a))
a="hello"
print (len(a))

5
20
<class 'int'>
5

In [9]:
x = 3
print (type(x)) 
print (x) 
print (x + 1 ) 
print (x - 1 ) 
print (x * 2) 
print (x ** 2) 
x += 1
print (x)
x *= 2
print (x )
y = 2.5
print (type(y)) 
print (y, y + 1, y * 2, y ** 2)

<class 'int'>
3
4
2
6
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

In [11]:
s = "hello"
print (s.capitalize()) 
2
print (s.upper())
print (s.rjust(7)) 
print(s.center(7))
print (s.replace('l', '(ell)'))
print( ' world '.strip())

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

In [12]:
name=input("Enter name")
print ("Hello "+name)

Enter namejoy
Hello joy

In [18]:
a=[] 
a=[1,2,3,4.5,"Hello","50"]
print (type(a))
print (len(a))
print( a[0])
print (a[-1])
print (a[2:5])
a.append(100)
print (a)
a.remove(2)
print(a)
a.append("append value")
print (a)
a.insert(3,"insert value")
print (a)

<class 'list'>
6
1
50
[3, 4.5, 'Hello']
[1, 2, 3, 4.5, 'Hello', '50', 100]
[1, 3, 4.5, 'Hello', '50', 100]
[1, 3, 4.5, 'Hello', '50', 100, 'append value']
[1, 3, 4.5, 'insert value', 'Hello', '50', 100, 'append value']

In [19]:
nums = [0, 1, 2, 3, 4]
even_squares=[]
for x in nums:
  if x%2==0:
    even_squares.append(x**2)
print( even_squares)

[0, 4, 16]

In [20]:
nums = [0, 1, 2, 3, 4]
even_squares=[]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print (even_squares )

[0, 4, 16]

In [22]:
a=range(1,25)
print(a[2:5])
print(a[-1])
print(a[1:5:2])
print(a[-3:-1])
print(a[:])
print(a[::])
print(a[::2])
print(a[::-1])

range(3, 6)
24
range(2, 6, 2)
range(22, 24)
range(1, 25)
range(1, 25)
range(1, 25, 2)
range(24, 0, -1)